name: .NET

on:
  push:
    branches: [ main ]
    paths-ignore:
    - 'src/GedcomTest/**'
    - 'README.md'
  pull_request:
    branches: [ main ]
    paths-ignore:
    - 'src/GedcomTest/**'
    - 'README.md'

jobs:
  build:

    runs-on: ubuntu-latest
    
    env:
      ACTIONS_ALLOW_UNSECURE_COMMANDS: true

    steps:
    - uses: actions/checkout@v2
    
    - name: Use .NET Core SDK 5.0.x
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 5.0.x
        
    - name: Nerdbank.GitVersioning
      uses: dotnet/nbgv@v0.3.1
      with:
        setCommonVars: true
        
    - run: echo "BuildNumber - ${{ env.GitBuildVersionSimple }}"
    
    - name: Restore dependencies
      working-directory: ./src
      run: dotnet restore
    - name: Build
      working-directory: ./src
      run: dotnet build --configuration Release --no-restore

